#Home {
    background: #ffc107;
    color: white;
}



































/*Meu METODO

body {
    background-color: #f1c40f;
}


.container {
    width: auto;
    margin: 0 auto;
}
.container .finanslogo {

}

.container .menu {
    margin-top: 10px;
    text-align: right;
}

.container .menu ul {
    list-style: none;
}

.container .menu ul li {
    padding: 10px;
    display: inline;
}

.container .menu ul li a {
    color: black;
    text-decoration: none;
}

.container .menu button {
    margin-left: 20px;
}

/*MEU METODO